* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #525252;
  font-size: 1.1rem;
}

body {
  background-color: #F5F5F5;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 50px;
  padding: 1.5rem 0;
  box-shadow: 0 3px 30px rgb(0 0 0 / 5%), 0 1px 6px rgb(0 0 0 / 6%);
  z-index: 99999;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  display: block;
  color: #2B7A78;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

ul.nav-links {
  display: flex;
  align-items: center;
  width: 90%;
}

ul.nav-links li {
  display: inline-block;
  font-size: 1.2rem;
}

.nav-links__pages-wrapper {
  width: 75%;
}

.nav-links__pages {
  display: flex;
  justify-content: space-evenly;  
  width: 80%;
  margin: 0 auto;
}

.nav-links__authentication-wrapper {
  width: 35%;
}

.nav-links__authentication {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 260px;
  margin: 0 auto;
}

.nav-links__authentication-wrapper li {
  border: 1px solid #2B7A78;
  text-align: center;
  padding: 0.6rem 0;
  border-radius: 7px; 
}

.nav-links__authentication-wrapper .sign-in {
  width: 46%;
  color: #2B7A78;
}

.nav-links__authentication-wrapper .sign-up {
  width: 46%;
  background-color: #2B7A78;
}

.sign-in a {
  color: #2B7A78;
}

.sign-up a {
  color: #F5F5F5;
}

.mobile-nav__container {
  display: none;
}

/* About Us Seection */
.about-container__wrapper {
  width: 90%;
  margin: 8rem auto;
  max-width: 1080px;
}

.about-text__wrapper {
  text-align: center;
}

.about-text__wrapper h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #101828;
  padding: 1rem 0;
}

.about-text__wrapper p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #525252;
  padding: 1.5rem 0;
  font-weight: 400;
}

.about-us__link {
  font-weight: 700;
  color: #2B7A78;
  font-size: 1.4rem;
}

.cards-wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 2rem auto;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
  border-radius: 1rem;
  padding: 4rem 2rem;
  margin: 4rem 0;
  width: 100%;
}

.cards-image__wrapper {
  width: 40%;
}

.cards-image__wrapper img {
  max-width: 100%;
}

.cards-contents__wrapper {
  padding: 2rem ;
  width: 55%;
}

.cards-contents__wrapper p {
  font-size: 1rem;
  line-height: 1.6;
  padding: 1.5rem 0;
  font-weight: 400;
}

.cards-btn {
  padding: 1rem 2rem;
  border: 1px solid rgb(43, 122, 120);
  border-radius: 10px;
  color: #2B7A78;
}

.cards-btn a {
  font-size: 1.1rem;
  color: #2B7A78;
}

/* Footer Section */
footer {
  background-color: #1a5b58;
  padding: 4rem 0;
}

.footer-container {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer-container a {
  color: #f5f5f5;
  line-height: 2.5;
}

.footer-icons__header {
  font-size: 1.4rem;
}

.icons .fab {
  padding: 0 .1rem 0 .1rem;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.footer-section__head {
  font-size: 1.56rem;
  padding-bottom: 1.4rem;
  font-weight: 400;
}

.footer-container__below-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
}

.footer-section__copyright p {
  color: #f5f5f5;
  font-size: 1.2rem;
}

.footer-section__agreements {
  display: flex;
  justify-content: space-around;
  flex-shrink: 2;
  width: 35%;
}

.footer-section__agreements p a {
  color: #ffff;
}

/* Media Queries */
@media screen and (max-width: 900px) {
  /* Header Section*/

  ul.nav-links {
    display: none;  
}

.logo {
    width: 50%;
    text-align: left;
}

.logo span {
    width: 80%;
    margin-inline: 0;
    font-size: 1.4rem;
}

.hamburger__wrapper {
    position: relative;
    display: block;
    width: 25px;
    cursor: pointer;
    background: none;
    outline: none;
    z-index: 10;
}

.hamburger__wrapper .bar, .hamburger__wrapper::before, .hamburger__wrapper::after {
    background-color: #2B7A78;
    width: 100%;
    content: "";
    display: block;
    height: 3px;
    margin: 5px 0;
    border-radius: 12px;
    transition: 0.5s;
}

.hamburger__wrapper.active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger__wrapper.active::after {
    transform: rotate(45deg) translate(-5px, -4px);
}

.hamburger__wrapper.active .bar {
    opacity: 0;
}

/* Mobile NAV */

.mobile-nav__container {
    background-color: #FFFFFF;
    display: block;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    min-height: 94vh;
    padding: 8rem 0;
    z-index: 20;
    transition: all 0.5s linear;
}

.mobile-nav__container.slide-out {
    left: 0;
}

.mobile-nav__list-container {
    width: 85%;
    margin: 0 auto;
    list-style: none;
}

.mobile-nav__list-items {
    width: 70%;
    margin: 0 auto;
}

.mobile-nav__list-items a {
    display: block;
    padding: 1.8rem 0;
}

.mobile-nav__authentication-btns {
    margin-top: 8rem;
}

.mobile-nav__authentication-btns .btn {
    text-align: center;
    font-size: 1.05rem;
    width: 70%;
    padding: 0.85rem 0;
    margin: 0 auto;
    border: 1px solid #2B7A78;
    border-radius: 7px;
}

.mobile-nav__authentication-btns .sign-in {
    margin-bottom: 1rem;
}

.mobile-nav__authentication-btns .sign-up{
    background-color: #2B7A78;
}

/* About Us */
.about-container__wrapper {
  width: 95%;
  margin: 5rem auto;
}

.cards-wrapper {
  width: 95%;
  max-width: 1024px;
  margin: 2rem auto;
}

.cards-image__wrapper {
  width: 100%;
}

.cards {
  padding: 2rem 1rem;
  width: 100%;
}

.cards-image__wrapper {
  width: 80%;
}

.cards-contents__wrapper {
  padding: 2rem 0;
  width: 90%;
  margin: auto;
}

/* Footer Section */
.footer-container {
  display: block;
}

.footer-container a {
  line-height: 2;
}

.footer-icons__header {
  font-size: 1.7rem;
}

.icons .fab {
  padding: 0 .1rem 0 .1rem;
  padding-top: 1.5rem;
  font-size: 1.3rem;
}

.footer-section__head {
  font-size: 1.56rem;
  padding-top: 2rem;
}

.footer-container__below-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.footer-section__copyright p {
  padding-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}

.footer-section__agreements {
  justify-content: space-around;
  width: 100%;
}

.footer-section__agreements p a {
  font-size: 1.1rem;
}
}

@media (max-width: 800px) {
  .cards {
   flex-direction: column;
   text-align: center;
  }
}

@media (max-width: 500px) {
  .about-text__wrapper h1 {
    font-size: 2.5rem;
    padding: 1rem 0;
  }
  
  .about-text__wrapper p {
    font-size: .9rem;
    padding: 1rem 0;
  }

  .about-us__link {
    font-size: 1.1rem;
  }
}